# Root
.DS_Store
*.log
instruction.md
instruction2.md
UXinstruction.md

# Backend
backend/.env
backend/.env.backup
backend/.env.production
backend/vendor/
backend/storage/app/public/*
!backend/storage/app/public/.gitignore
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*
backend/bootstrap/cache/*.php

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.production
frontend/.eslintcache
